@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
}

.theme-light {
  --color-primary: #fff;
  --color-secondary: #3a6dc0;
  --color-tertiary: #000;
}

.theme-dark {
  --color-primary: #000;
  --color-secondary: #fff;
  --color-tertiary: red;
}

.part1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 350px repeat(3, 200px);
  grid-template-areas:
    "selected selected selected"
    "boxer0 . boxer1"
    "boxer4 boxer6 boxer5"
    "boxer2 . boxer3";
  width: 75%;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  display: grid;
}

@media screen and (width <= 425px) {
  #root {
    padding: 0;
  }
}

body {
  height: 100dvh;
}
